<div id="card_display">
  <%= erb :'_card_display', :layout => false, :locals => {current_card: @current_card}%>
</div>

<div id ="userInput">

<h2>Score: <%="#{@score}"%></h2>

<% if session[:correct] == true%>
  <span>Correct!</span>
  <% session[:correct] = false%>
  <form action="/<%="#{params[:user_id]}"%>/<%=@deck.id%>/<%=@card_no%>" method="post">
  <input type="submit" value="next">
</form>

<% else %>

  <form action="/<%="#{params[:user_id]}"%>/<%=@deck.id%>/<%=@card_no%>" method="post">
    <input type="text" name="answer">
    <input type="submit" value="submit">
  </form>

<% end %>

